.headerContainer {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.headerContainer p {
    font-size: 25px;
    color: #004977;
}

.logoContainer {
    width: 100px;
}

.profileContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(180deg, #0099FA 0%, #0583D3 100%);
    border-radius: 60px;
    margin-bottom: 50px;
}

.profileContainer p {
    font-size: 25px;
    color: white;
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
}

.profilePictureContainer {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
}

.mobileBottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    align-items: flex-end;
    height: 80px;
    box-shadow: 1px 6px 20px rgba(5, 75, 120, 0.15);
    background-color: #fff;
}

.mobileBottomNavItem {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobileBottomNavItemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileBottomNavImage {
    position: relative;
    width: 25px;
    height: 25px;
}

.mobileBottomNavProfile {
    position: relative;
    border-radius: 12.5px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

/* Phones */

@media (max-width: 480px) {
    .headerContainer {
        padding: 25px;
    }
    
    .logoContainer {
        width: 50px;
    }
    
    .profileContainer {
        margin-bottom: 15px;
    }
}
