.page {
  background-color: #F9FDFF;
  height: 100vh;
  width: 100vw;
}

.main {
  padding: 0 20% 0 20%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prescriptions {
  width: 45%;
}

.prescriptions .headerText {
  color: #004977;
  font-weight: 500;
  font-size: larger;
}

.prescriptions .title {
  color: #004977;
  font-weight: 600;
  font-size: large;
}

.prescriptions .description {
  color: #004977;
  font-weight: normal;
  font-size: medium;
}

.pharmacies {
  width: 45%;  
}

.pharmacies .headerText {
  color: #004977;
  font-weight: 500;
  font-size: larger;
}

.pharmacies .title {
  margin-bottom: 5px;
  color: #004977;
  font-weight: 600;
  font-size: large;
}

.pharmacies .distance {
  margin-top: 0;
  color: #004977;
  font-weight: 400;
  font-size: small;
}

.pharmacies .description {
  color: #004977;
  font-weight: 300;
  font-size: medium;
}

.pharmacies .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prescriptionsList {
  width: 100%;
  margin-bottom: 100px;
}

.prescriptionsList hr {
  margin-top: 25px;
  border: 0.5px solid rgba(5, 131, 211, 0.2);
}

.prescriptionsList .headerText {
  color: #004977;
  font-weight: 500;
  font-size: larger;
}

.prescriptionsTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 15px;
  padding: 15px;
}

.prescriptionsTable tr {
  width: 100%;
  border-bottom: 0.5px solid rgba(5, 131, 211, 0.2);
  padding: 15px;
  color: #004977;
  ;
}

.prescriptionsTable tr:last-child {
  border-bottom: none;
}

.prescriptionsTable td {
  width: 50%;
  padding: 15px;
}

.prescriptionsTable .date {
  text-align: end;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

button.consult, button.validate, button.destination{
  padding: 5px 15px 5px 15px;
  font-size: small;
}

button.consult {
  background: #FFFFFF;
  border: 0.2px solid rgba(0, 153, 250, 0.31);
  box-sizing: border-box;
  box-shadow: 1px 2px 7px rgba(5, 131, 211, 0.16);
  border-radius: 11.5px;
  color: #004977;
}

button.validate {
  background: linear-gradient(180deg, #90D35F 0%, #6FB33E 100%);
  border-radius: 15px;
  border: none;
  color: white;
}

button.more {
  background: linear-gradient(180deg, #0099FA 0%, #0583D3 100%);
  border-radius: 15px;
  border: none;
  font-weight: 600;
  font-size: large;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 10px 0;
}

button.destination {
  margin-top: 10px;
  background: linear-gradient(180deg, #0099FA 0%, #028AE0 100%);
  border-radius: 15px;
  border: none;
  color: white;
  max-height: 30px;
}

.call {
  color: #0099FA;
}

.card {
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 25px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 1px 6px 20px rgba(5, 75, 120, 0.15);
}

/* Phones */

@media (max-width: 480px) {
  .main {
    padding: 0 25px 0 25px;
  }
  
  .prescriptions, .pharmacies {
    width: 100%;
  }
}
